{% extends 'Music/base_visitor.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                  <p>
                    Your password has been set. You may go ahead and <a href="{% url 'Music:login_user' %}">sign in</a> now.
                  </p>
                </div>
             </div>
          </div>
      </div>
  </div>
{% endblock %}